*{
 font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
 /*font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;*/
 font-size: 18px;
}
.mission {
 font-size: 19px;
}
body {
 background-image: url('../headerphoto.jpg');
 background-size:auto 705px;
 background-repeat: no-repeat;
 background-position: center top;
 background-attachment: fixed;
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 }
#logo{
 width:95%;
}
img{
 max-width: 100%;
 padding-top: 10px;
 padding-bottom: 10px;
}
.image{
 width: 100%;
}
#header{
 margin:200px auto 110px auto;
/*  border-top: solid 10px #ffbe3d;
 border-bottom: solid 10px #ffbe3d; */

}
 /*#singlebutton{*/
 /* color: #bad844;*/
 /* margin-top: 50px;*/
 /* margin-bottom: 10px;*/
 /*}*/
/*.btn-custom {*/
/*  background-color: hsl(40, 100%, 62%) !important;*/
/*  background-repeat: repeat-x;*/
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbe3d", endColorstr="#ffbe3d");*/
/*  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffbe3d), to(#ffbe3d));*/
/*  background-image: -moz-linear-gradient(top, #ffbe3d, #ffbe3d);*/
/*  background-image: -ms-linear-gradient(top, #ffbe3d, #ffbe3d);*/
/*  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbe3d), color-stop(100%, #ffbe3d));*/
/*  background-image: -webkit-linear-gradient(top, #ffbe3d, #ffbe3d);*/
/*  background-image: -o-linear-gradient(top, #ffbe3d, #ffbe3d);*/
/*  background-image: linear-gradient(#ffbe3d, #ffbe3d);*/
/*  border-color: #ffbe3d #ffbe3d hsl(40, 100%, 62%);*/
/*  color: #333 !important;*/
/*  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);*/
/*  -webkit-font-smoothing: antialiased;*/
/*}*/
.navbar-nav{
    margin-left:8.3333% !important;
    margin-right:8.3333% !important;
}
.opensign{
 /*background-color: #ffffff;*/
 padding-bottom: 10px;
 padding-top: 10px;
 color: #340707;
 font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
 font-size: 300%;
}
a:link, a:visited, a:hover, a:active {
 text-decoration: none;
}
/*h3 a:link,h3 a:visited,h3 a:hover,h3 a:active {*/
/* color: #340707;*/
/*}*/
/*h3{*/
/* font-size: 60%;*/
/*}*/
.content{
 background-color: #ffffff;
 margin-top:110px;
 padding-bottom: 80px;
}
p{
 font-size:16px;
}
.heading{
 margin-top: 60px;
 margin-bottom: 45px;
 font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
 font-size:50px;
}
#contact-us{
 margin-top: 110px;
 margin-bottom: 110px;
 background-color: transparent;
 padding-bottom: 10px;
 padding-top: 10px;
}
#back-to-top{
 margin-top: 110px;
 margin-bottom: 230px;
 background-color: transparent;
 padding-bottom: 10px;
 padding-top: 10px;
}
.mono {
 font-family: "Andale Mono", AndaleMono, monospace;
 font-size: 16px;
}
.smallhead{
 font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}
#footer{
background-color: #fff;
padding-top: 80px;
}
#submitbutton{
 margin-top: 15px;
}
#label{
 font-weight: normal;
}
.formstuff{
 font-family: "Andale Mono", AndaleMono, monospace;
}
#customerName{
 margin-bottom:15px;
 margin-top:15px;

}
.gallery{
 margin-top: 5px;
}
.sidebar{
 margin-top: 5px;
}
.sideinfo{
 margin-left: 25px;
